* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #dedede;
}

.header {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  height: 50px;
  nav {
    height: 100%;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: #be0909;
          transition: all .3s linear;
          &:hover {
            color: #1257df;
          }
        }
      }
    }
  }
}

.title {
  height: 50px;
  text-align: center;
}

.principal {
  width: 100%;
  display: flex;
  height: calc(100dvh - 100px);
  .principal__content {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    .principal__content--items {
      width: 100%;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      justify-content: space-evenly;
      .principal__content--items-item {
        width: 320px;
        padding: 20px;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        display: flex;
        flex-direction: column;
        background: #bababa;
        .title {
          font-size: 25px;
          font-weight: bold;
          text-align: center;
        }
        .description {
          font-size: 14px;
          font-weight: 500;
        }
        .stock {
          color: red;
          font-weight: 600;
          font-size: 18px;
        }
        .value {
          text-align: center;
          color: green;
          font-weight: bold;
          font-size: 18px;
        }
      }
    }
  }
}